<po-page-default
  p-title="Inicio"
>

  <po-widget
    [p-height]="200"
    p-title="Computador"
  >

    <div class="po-row">
      <ng-container *ngFor="let pedra of computador.pedras">

        <app-pedra
          [pedra]="pedra"
          [clicavel]="false"
          [escondida]="true"
        ></app-pedra>

      </ng-container>

    </div>

  </po-widget>

  <br>
  <br>
  <br>

  <div class="po-row">
    <po-widget
      class="po-md-6"
      [p-height]="220"
      p-title="Mesa"
    >
      <div class="container-pedras-mesa">

        <ng-container *ngFor="let pedra of pedrasMesa.pedras">
          <app-pedra class="centralizar" [pedra]="pedra"></app-pedra>
        </ng-container>

      </div>
    </po-widget>

    <po-widget
      class="po-md-6"
      [p-height]="220"
      p-title="Para comprar"
    >
      <div class="po-row">
        <ng-container *ngFor="let pedra of pedrasParaCompra">

          <app-pedra
            [pedra]="pedra"
            [escondida]="true"
            [clicavel]="true"
            (jogar)="comprarPedra(jogador, pedra)"
          ></app-pedra>

        </ng-container>

      </div>
    </po-widget>
  </div>

  <br>
  <br>
  <br>

  <po-widget
    p-title="Jogador"
    [p-height]="200"
  >
    <div class="po-row">
      <ng-container *ngFor="let pedra of jogador.pedras">

        <app-pedra
          [pedra]="pedra"
          [clicavel]="true"
          (jogar)="jogarPedra(pedra, jogador)"
        ></app-pedra>

      </ng-container>
    </div>
  </po-widget>

</po-page-default>
