<po-page-default
  p-title="Inicio"
>

  <po-widget
    [p-height]="150"
    p-title="Computador"
  >

    <div class="po-row">
      <ng-container *ngFor="let pedra of computador.pedras">

        <div class="carta">
          {{ pedra.valor1 }} | {{ pedra.valor2 }}
        </div>

      </ng-container>

    </div>

  </po-widget>

  <br>
  <br>
  <br>

  <div class="po-row">
    <po-widget
      class="po-md-6"
      [p-height]="150"
      p-title="Mesa"
    >

      <div class="po-row">
        <ng-container *ngFor="let pedra of pedrasParaCompra">

          <div class="carta escondido clicavel">
            {{ pedra.valor1 }} | {{ pedra.valor2 }}
          </div>

        </ng-container>
      </div>
    </po-widget>

    <po-widget
      class="po-md-6"
      [p-height]="150"
      p-title="Para comprar"
    >
      <div class="po-row">
        <ng-container *ngFor="let pedra of pedrasParaCompra">

          <div class="carta escondido clicavel">
            {{ pedra.valor1 }} | {{ pedra.valor2 }}
          </div>

        </ng-container>

      </div>
    </po-widget>
  </div>

  <br>
  <br>
  <br>

  <po-widget
    p-title="Jogador"
    [p-height]="150"
  >
    <div class="po-row">
      <ng-container *ngFor="let pedra of jogador.pedras">

        <div (click)="jogarPedra(pedra)" class="carta clicavel">
          {{ pedra.valor1 }} | {{ pedra.valor2 }}
        </div>

      </ng-container>
    </div>
  </po-widget>

</po-page-default>

